<div class="panel panel-default" ng-controller="TaskCadastroController as c">
    <div class="panel-heading">Cadastro de Atividade</div>
    <div class="panel-body">
        <form>
            <div class="row">
                <section class="col-xs-8">
                    <div class="form-group">
                        <label>Titulo</label>
                        <input class="form-control" type="text" ng-model="c.atividade.nome">
                    </div>
                </section>
                <section class="col-xs-4">
                    <div class="form-group">
                        <label>Data</label>
                        <input class="form-control" type="date" ng-model="c.atividade.data">
                    </div>
                </section>
            </div>
            <div class="form-group">
                <label>Descrição</label>
                <textarea class="form-control" rows="10" ng-model="c.atividade.descricao"></textarea>
            </div>


        </form>
    </div>
    <div class="panel-footer">
        <div class="row">
            <section class="col col-xs-12">
                <button class="btn btn-default pull-right" type="button" ng-click="c.salvar()" >Salvar</button> 
            </section>
        </div>
    </div>
</div>